@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

nav.mobile {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 65%;
  height: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

nav.mobile.close {
  left: -100vw;
  @apply shadow-2xl p-8;
}

nav.mobile.open {
  left: 0;
  @apply shadow-2xl p-8;
}

nav.mobile ul {
  @apply flex items-start flex-col gap-4;
}

nav.mobile ul li {
  @apply font-bold text-lg cursor-pointer;
}

.cart {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right:  5px;
}

@media (min-width: 1024px) {
  .big-image {
    height: 500px;
  }
}